.articleContainer{
	margin: 40px 0px 30px 0px;
}

#ccright{
		margin: 1em;
		text-align: center;
}

#sidebarlist{
	margin: 50px 0px 0px 0px !important;
}

#counterwrapper{
	display: none;
}

#background-article1{
	background-color: white;
}

#innerC{
	color: black;
}

.header2{
	margin: 20px 0px 0px 0px;
}